/*! Replaced Sora's proprietary font Suisse with Sora font by Jonathan Barnbrook and Julián Moncada  */
/* src: url('https://www.heysora.net/fonts/#{$family}-#{$name}-WebS.woff2') format('ttf'); */

@mixin sora-font($family, $weight: 400, $name: 'Regular', $style: normal) {
    @font-face {
        font-family: $family;
        src: url('https://www.github.com/arguemore/sora-font/blob/master/fonts/ttf/v2.1beta/#{$family}-#{$name}.ttf') format ('ttf');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@include sora-font('Sora', 400, 'Regular', normal);
@include sora-font('Sora', 400, 'Italic', italic);
@include sora-font('Sora', 500, 'Medium', normal);
@include sora-font('Sora', 600, 'SemiBold', normal);
@include sora-font('Sora', 600, 'SemiBoldItalic', italic);

/* Erased Suisse Mono Regular and SemiBold */
